{% extends "base.html" %}
{% load bootstrap3%}
{% block content %}
	<div class="content-wrapper" id="tab">
		<div class="content">
			<div class="head">
				<div class="row">
					<div class="col-sm-7 title" >

						<span><i class="fa fa-pencil"></i> Record An Expense</span>
					</div>
					</div>
				</div>
			<div class="content padding table-responsive" >
				<div class="wrapper">
					<form method="post" >
					{% csrf_token %}
					{% bootstrap_form form %}
					<hr>
					<button type="reset" class="btn btn-warning m-sm-right"><i class="fa fa-trash-o fa-lg white" aria-hidden="true"></i> Clear</button>
					<button id="proceed" class="btn btn-primary m-sm-right">Proceed <i class="fa fa-arrow-circle-right fa-lg white" aria-hidden="true"></i></button>
					</form>
				</div>
			</div>
		</div> <!-- end of content -->
	</div> <!--end of content-wrapper -->
<script type="text/javascript">
			$(document).ready(function(){
				$('#id_quantity, #id_rate').on('input',function(e){
					const quantity = parseInt($('#id_quantity').val()) || 0;
					const rate = parseInt($('#id_rate').val()) || 0;
					const total_cost = rate * quantity;
					$('#id_total_cost').val(total_cost);
				});
				$(".form-control").css({'height': '32px', 'width': '500px'});
				$("#tab").css({'width': '600px', 'margin-left': '70px'});
				$(".wrapper").css({'justify-content': 'center', 'display': 'flex'});
			});
</script>
{% endblock content %}
