{% extends "base.html" %}

{% block content %}

	<div class="content-wrapper" id="tab">
		<div class="content">
			<div class="head">
				<div class="row">
					<div class="col-sm-7 title" >
						<span class="fa fa-pencil"></span>Make A Purchase Transation
					</div>
				</div>
			</div>

			<div class="content padding table-responsive">
		            <div class="jumbotron">
						<p><em>Transaction Successful!</em>&nbsp;&nbsp;<i style="color:#E11B1B" class="fa fa-thumbs-up fa-lg"></i></i></p>
                        <br><hr>
                        <a href="{% url 'transactions:purchase' %}" class="btn btn-primary btn-sm" role="button">click here to make another transaction</a>
                    </div>
			</div>
		</div> <!-- end of content -->
	</div> <!--end of content-wrapper -->
<script type="text/javascript">
		$(document).ready(function(){
			$("#tab").css({'width': '600px', 'margin-left': '70px'});
		});
</script>
{% endblock content %}