{% extends "base.html" %}
{% load bootstrap3%}
{% block content %}

	<div class="content-wrapper" id="tab">
		<div class="content">
			<div class="head">
				<div class="row">				
					<div class="col-sm-7 title" >
						<span class="fa fa-user"></span>Purchase Transaction Update
					</div>
				</div>
			</div>

			<div class="content padding table-responsive">
				<div class="wrapper">
				<form method="post" action="">
					{% csrf_token %}
						{% bootstrap_form form %}
					<br><hr>
					<a href="{% url 'transactions:show_purchase_user' %}" class="btn btn-warning"><i class="fa fa-trash-o white fa-lg" aria-hidden="true"></i> Cancel Update</a>
					<button class="btn btn-primary"><i class="fa fa-floppy-o white " aria-hidden="true"></i> Save Update</button>
				</form>
					</div>
			</div>
		</div> <!-- end of content -->
		<button id="cost" onclick="myFunction()" class="btn btn-success btn-sm">Compute transaction cost <i class="" aria-hidden="true"></i></button>
	</div> <!--end of content-wrapper -->
<script>
	function myFunction() {
					var a =document.getElementById('id_quantity_value').value || 0;
					var b =document.getElementById('id_gen_diesel_value').value || 0;
					var c =document.getElementById('id_diesel_value').value || 0;
					var d =document.getElementById('id_other_costs').value || 0;
					var e = parseFloat(a) + parseFloat(b) + parseFloat(c) + parseFloat(d)
					document.getElementById('id_transaction_cost').value = Math.round(e);
				}
</script>


<script type="text/javascript">
			$(document).ready(function(){

				//script Quantity value and transaction income
				$('#id_product_rate, #id_product_quantity, #id_product_discount, #id_deductions').on('input',function(e){
					const product_quantity = parseInt($('#id_product_quantity').val()) || 0;
					const product_name = parseInt($('#id_product_name').val());
					const product_discount = parseInt($('#id_product_discount').val()) || 0;
					const product_rate = parseInt($('#id_product_rate').val()) || 0;
					const deductions = parseInt($('#id_deductions').val()) || 0;
					const quantity_value =  (((product_quantity - product_discount) * product_rate) - deductions);
					$('#id_quantity_value').val(quantity_value);
					$('#id_transaction_income').val(deductions);
				});

				//script transaction income
				$('#id_deductions').on('input',function(e){
					const deductions = parseInt($('#id_deductions').val()) || 0;
					$('#id_transaction_income').val(deductions);
				});

				//script gen diesel value
				$('#id_gen_diesel_rate, #id_gen_diesel_litres').on('input',function(e){
					const gen_diesel_litres = parseInt($('#id_gen_diesel_litres').val()) || 0;
					const gen_diesel_rate = parseInt($('#id_gen_diesel_rate').val()) || 0;
					const gen_diesel_value = (gen_diesel_litres * gen_diesel_rate);
					$('#id_gen_diesel_value').val(gen_diesel_value);
				});

				//script diesel value
				$('#id_diesel_rate, #id_diesel_litres').on('input',function(e){
					const diesel_litres = parseInt($('#id_diesel_litres').val()) || 0;
					const diesel_rate = parseInt($('#id_diesel_rate').val()) || 0;
					const diesel_value = (diesel_litres * diesel_rate);
					$('#id_diesel_value').val(diesel_value);
				});


				$('#id_product_quantity, #id_product_discount,#id_product_name,#id_product_rate').on('input',function(e){
					var p_name = ($('#id_product_name').val());
					if(p_name==3){
					const product_quantity = parseInt($('#id_product_quantity').val()) || 0;
					const product_discount = parseInt($('#id_product_discount').val()) || 0;
					const expectedoil = parseInt($('#expected_oil').val()) || 0;
					const expected_oil = ((product_quantity - product_discount) / expectedoil)
					$('#id_expected_oil').val(expected_oil);
					} else if(p_name==1){
					const product_quantity = parseInt($('#id_product_quantity').val()) || 0;
					const product_discount = parseInt($('#id_product_discount').val()) || 0;
					const expectedoil = parseInt($('#expected_oil').val()) || 0;
					const expected_oil = (product_quantity - product_discount)
					$('#id_expected_oil').val(expected_oil);
					}
					else{
					const expected_oil = 0
					$('#id_expected_oil').val(expected_oil);
					}

				});




				$('#id_product_quantity, #id_product_discount,#id_product_name,#id_product_rate').on('input',function(e){
				var p_name = ($('#id_product_name').val());
				if(p_name==3){
					const product_quantity = parseInt($('#id_product_quantity').val()) || 0;
					const product_discount = parseInt($('#id_product_discount').val()) || 0;
					const expectedcake = parseFloat($('#expected_cake').val()) || 0;
					const expected_cake = (((product_quantity - product_discount) * expectedcake) / 1000);
					$('#id_expected_cake').val(expected_cake);
					}
				else if (p_name==2){
					const product_quantity = parseInt($('#id_product_quantity').val()) || 0;
					const product_discount = parseInt($('#id_product_discount').val()) || 0;
					const expected_cake = (product_quantity - product_discount)
					$('#id_expected_cake').val(expected_cake);
				}else{
					const expected_cake = 0;
					$('#id_expected_cake').val(expected_cake);
					}
				});

				$('#id_product_quantity, #id_product_discount,#id_product_name').on('input',function(e){
					const expected_cake = parseFloat($('#id_expected_cake').val()) || 0;
					const cake_value =  expected_cake * 30000;
					$('#id_cake_value').val(Math.round(cake_value));
				});


				$('#id_product_name').change(
        			function () {
					var name = $('option:selected', this).text();
					if (name == "Palm Kernel Oil (PKO)") {
						$('#id_product_quantity').text("Product Quantity (ltr)");
					} else if (name == "Palm Kernel Cake (PKC)") {
						$('#id_product_quantity').text("Product Quantity (kg)");
					} else if (name == "Palm Kernel") {
						$('#id_product_quantity').text("Product Quantity (kg)");
					}
				});

				$(".form-control").css({'height': '32px', 'width': '500px'});
				$("#tab").css({'width': '600px', 'margin-left': '70px'});
				$("#cost").css({'width': '165px','height': '31px', 'font-size': '12px','margin-left': '50px' });
				$(".wrapper").css({'justify-content': 'center', 'display': 'flex'});
			});
</script>
{% endblock content %}