{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

	{% csrf_token %}
	<div class="content-wrapper" id="tab">
		<div class="content">
			<div class="head">
				<div class="row">
					<div class="col-sm-7 title" >
						<span class="fa fa-info-circle"></span>View Statement
					</div>
				</div>
			</div>
			<div class="content padding table-responsive">
                <div class="wrapper">
				<form method="post" action="{% url 'transactions:customer_statement'%}">
                    <h4>Select customer name along with date Range</h4><br>
					{% csrf_token %}
                    {% bootstrap_form form %}
                    <br><hr>
                    <button type="submit" id="search" class="btn btn-primary">View Statement <i class="fa fa-arrow-circle-right fa-lg white" aria-hidden="true"></i></button>
                   </form>
                			</div>
		</div> <!-- end of content -->
	</div> <!--end of content-wrapper -->
	</div>

<script type="text/javascript">
		$(document).ready(function(){
			$(".form-control").css({'height': '32px', 'width': '500px'});
			$("#tab").css({'width': '600px', 'margin-left': '70px'});
			$(".wrapper").css({'justify-content': 'center', 'display': 'flex'});
			function showTouched(e){
				alert(e.data.message);
			}
			var proceedmsg = { message: 'Be sure of transaction before proceeding!'};
			$("#proceed").on("mouseover", proceedmsg, showTouched);
		});
</script>

{% endblock content %}