{% extends "base.html" %}

{% load static %}

{% block javascript %}
{% endblock %}
{% block content %}

<div class="content-wrapper">
	<div class="content">
		<div class="head">
			<div class="row">
				<div class="col-sm-8 title" >
					<span class="fa fa-book"></span>Foreb-Debt Transactions List
				</div>
				<div class="col-sm-4">
					<form>
						<div class="input-group search-box" style="margin-top:-5px;margin-bottom:-120px">
							<input type="text" class="form-control" name="transaction_query" placeholder="Search for Transaction">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="submit"><i class="fa fa-search fa-fw"></i></button>
						      </span>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="content padding table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Clientele Name</th>
						<th>Narration</th>
						<th>Status</th>
						<th><center>Actions</center></th>
					</tr>
				</thead>
				<tbody>

					{% for t in transactions %}
						<tr>
							<td><b>{{forloop.counter}}</b>. {{ t.clientele_name }}</td>
							<td>{{ t.narration }}</td>
							<td>{{ t.status }}</td>
							<td class="action-container" align="center">

								<a href="{% url 'transactions:foreb_details' id=t.id %}"  class="btn btn-warning btn-sm action" title="View Transaction">
									<span class="fa fa-eye fa-lg"></span> View
								</a>
							</td>
						</tr>
					{%empty%}
						<tr>
							<td colspan="12312" align="center">
								<h1 class="text-danger"><i style="color: #A94442" class="fa fa-frown-o fa-lg" aria-hidden="true"></i> &nbsp;No pending transactions!</h1>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div> <!-- end of content -->
</div> <!--end of content-wrapper -->
{% endblock content %}